@import '../../theme.scss';

.album-section-container {
  display: flex;
  flex: 1;
  padding: 16px 32px;
  flex-direction: column;
  color: $fontLight;

  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .see-all-text {
      font-size: 12px;
      font-weight: bold;
      color: $fontDark;
    }

    & > h2, & > p {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

  }

  .album-cards-wrapper {
    display: flex;
    margin-top: 16px;

    & > * {
      margin-left: 24px;
      &:first-child {
        margin: 0px;
      }
    }
  }
}
