@import '../../theme.scss';

.header-container {
  width: 100%;
  height: fit-content;
  top: 0;
  padding: 16px;
  background-color: $backgroundDarker;

  .forward-icon {
    margin-left: 16px;
  }
}
