@import '../../theme.scss';

.header-container {
  height: fit-content;
  display: flex;
  // justify-content: space-between;
  top: 0;
  padding: 16px;
  background-color: $backgroundDarker;

  .header-navigation {
    display: flex;
    align-items: center;
    flex: 2;

    .search-input {
      display: flex;
      align-items: center;
      flex: 1;
      margin-left: 32px;
      max-width: 350px;
      height: 40px;
      padding: 8px 16px;
      border-radius: 24px;
      background-color: $white;

      input {
        display: flex;
        flex: 1;
        border: none;
        padding: 6px 16px;
        width: 100%;
        background-color: transparent;
          font-family: Arial;
          &::placeholder{
          font-family: Arial;
        }
      }
    }
  }

  .header-login {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;

    .signup-btn {
      background-color: $backgroundDarker;
      margin-right: 32px;
    }

    .signup-btn-text {
      color: $white;
    }
  }

  .forward-icon {
    margin-left: 16px;
  }
}
