@import '../../theme.scss';
$darkOpacity: 0.7;
$lightOpacity: 1;

.sidebar-btn-container {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0px 8px;
  padding: 8px 0px;
  border-radius: 4px;
  transition: 0.5s;
  opacity: $darkOpacity;
  &.selected {
    opacity: $lightOpacity;
    background-color: $backgroundLighter;
  }
  &:hover {
    cursor: pointer;
    opacity: $lightOpacity;
  }
}
