@import '../../theme.scss';
$darkOpacity: 0.7;
$lightOpacity: 1;

.container {
  display: block;
  width: 232px;
  background-color: $backgroundDarker;

  .divider {
    border: none;
    margin: 16px;
    height: 1px;
    background-color: $backgroundLighter;
  }

  .spotify-logo-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin: 16px;

    .logo {
      width: 44px;
      height: 44px;
    }
  }

  .sections-container {
    .section-icon {
      margin: 0px 16px;
    }
  }

  .playlists-container {
    margin: 0px 16px;

    .playlists-title {
      color: $fontDark;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    .playlists-icon-wrapper {
      display: flex;
      padding: 6px;
      margin-right: 16px;
      align-items: center;
      justify-content: center;
    }
  }
}
