@import '../../theme.scss';
$darkOpacity: 0.7;
$lightOpacity: 1;

.container {
  display: block;
  width: 232px;
  background-color: $backgroundDarker;

  .spotify-logo-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin: 16px;

    .logo {
      width: 44px;
      height: 44px;
    }
  }

  .sections-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0px 8px;
    padding: 8px 0px;
    border-radius: 4px;
    transition: 0.5s;
    opacity: $darkOpacity;
    &.selected {
      opacity: $lightOpacity;
      background-color: $backgroundLighter;
    }
    &:hover {
      cursor: pointer;
      opacity: $lightOpacity;
    }

    .section-icon {
      margin: 0px 16px;
    }
  }

  .playlists-container {
    .playlists-title {
      margin: 0px 24px;
      color: $fontDark;
    }

    margin: 16px 0px;

    .buttons {
      display: flex;
      flex: 1;
      align-items: center;
      margin: 0px 8px;
      padding: 8px 0px;
      border-radius: 4px;
      transition: 0.5s;
      opacity: $darkOpacity;
      &:hover {
        cursor: pointer;
        opacity: $lightOpacity;
      }
    }
  }
}
