@import '../../theme.scss';

.container {
  display: block;
  text-align: center;
  width: 232px;
  background-color: $backgroundDarker;

  .section {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 8px 0px;
    transition: 0.5s;
    opacity: 0.7;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .section-icon {
      margin: 0px 16px;
    }
  }
}
