@import url(//db.onlinewebfonts.com/c/1bc2daddba36ba331fc4fa67828eabdc?family=Circular+Spotify+Tx+T+Med);
@import './theme.scss';

body, * {
  margin: 0;
  padding: 0;
  font-family: 'Circular Spotify Tx T Med', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}


p {
  font-size: 14px;
  color: $fontLight;
}

h4 {
  font-size: 16px;
  color: $fontLight;
}

h3 {
  font-size: 18px;
  color: $fontLight;
}

h2 {
  font-size: 24px;
  color: $fontLight;
}

h1 {
  font-size: 32px;
  color: $fontLight;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
